@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --color-primary: #AC3ED9;
  --color-secondary: #18003F;
  --color-secondary-2: #0F0026;
  --color-tertiary: #1FD9B7;
  --color-quaternary: #F12B29;

  --color-off-white: #f8f8f8
}

/* Text colors */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-quaternary {
  color: var(--color-quaternary);
}

/* Background colors */
.bg-primary {
  background-color: var(--color-off-white);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.bg-quaternary {
  background-color: var(--color-quaternary);
}

/* Button colors */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn-tertiary {
  background-color: var(--color-tertiary);
  color: white;
}

.btn-quaternary {
  background-color: var(--color-quaternary);
  color: white;
}

