@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --color-primary: #EBEAE8;
  --color-secondary: #D9A84E;
  --color-secondary-2: #C19055;
  --color-tertiary: #7FA1AD;
  --color-quaternary: #313238;
}

/* Text colors */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-quaternary {
  color: var(--color-quaternary);
}

/* Background colors */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-quaternary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.bg-quaternary {
  background-color: var(--color-quaternary);
}

/* Button colors */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn-tertiary {
  background-color: var(--color-tertiary);
  color: white;
}

.btn-quaternary {
  background-color: var(--color-quaternary);
  color: white;
}

/* clases personalizadas */
.navbar {
  @apply bg-secondary sticky top-0 z-50  flex-none duration-500 lg:z-50 text-primary ;
}